<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ananya Chintalapudi</title>
  <link rel="stylesheet" href="../styles.css" />
</head>

<body>
  <header>
    <div class="header-container">
      <div class="logo">Ananya Chintalapudi</div>
      <div class="menu-toggle" (click)="toggleMenu()">&#9776;</div>
      <nav [class.show]="menuOpen">
        <ul>
          <li><a href="#about" (click)="closeMenu()">About</a></li>
          <li><a href="#education" (click)="closeMenu()">Education</a></li>
          <li><a href="#extracurriculars" (click)="closeMenu()">Extracurriculars</a></li>
          <li><a href="#projects" (click)="closeMenu()">Projects</a></li>
          <li><a href="#skills" (click)="closeMenu()">Skills</a></li>
          <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  

  <main>
    <!-- About Section -->
    <section id="about" class="section">
      <div class="card">
        <h2>About Me</h2>
        <p>
          I am a Computer Science student passionate about systems and robotics. I am most interested
          in operating systems, problem-solving, and software engineering, with hands-on
          experience in building efficient and scalable solutions. In my free time, I love drinking coffee,
          rock climbing, and driving!
        </p>
        <div class="hobby-icons">
          <div class="hobby-icon">
            <fa-icon [icon]="faCoffee"></fa-icon>
          </div>
          <div class="hobby-icon">
            <fa-icon [icon]="faMountain"></fa-icon>
          </div>
          <div class="hobby-icon">
            <fa-icon [icon]="faCar"></fa-icon>
          </div>
        </div>
      </div>
    </section>

    <!-- Education Section -->
    <section id="education" class="section">
      <div class="card">
        <h2>Education</h2>
        <div class="education-entry">
          <img src="assets/logos/ut.png" alt="UT Logo" class="school-logo">
          <div class="education-content">
            <div class="education-info">
              <h4>Bachelor of Science in Computer Science, Minors in Business and Robotics</h4>
              <p><strong>University of Texas at Austin</strong> | Expected Graduation: <span>May 2026</span></p>
              <p>Focusing on systems-oriented topics like Operating Systems, Robotics, and Computer Vision.</p>
            </div>
            <h4>Relevant Coursework</h4>
            <div class="coursework-columns">
              <ul>
                <li>Principles of Machine Learning I</li>
                <li>Principles of Computer Systems</li>
                <li>Gateway to Robotics</li>
              </ul>
              <ul>
                <li>Computer Architecture</li>
                <li>Autonomous Intelligent Robotics I & II</li>
                <li>Data Structures and Algorithms</li>
              </ul>
            </div>
            <div class="ta-experience">
              <h4>Teaching Assistant</h4>
              <p><strong>Operating Systems - Fall 2024</strong></p>
              <p>I assisted with the Operating Systems course to help students grasp key concepts while leading weekly
                review sessions and guiding project work. Through this experience, I developed my teaching and
                leadership
                skills in technical subjects.</p>
              <div class="ta-details">
                <div class="ta-responsibilities">
                  <h5>Responsibilities</h5>
                  <ul>
                    <li>Led weekly sections for 50+ students to address content confusion and provide concrete
                      applications for the content.</li>
                    <li>Provided feedback on assignments and quizzes and helped students with high-level project design.
                    </li>
                    <li>Facilitated discussions on core OS concepts like processes, virtual memory, and file systems.
                    </li>
                  </ul>
                </div>
                <div class="ta-tech">
                  <h5>Tech Stack</h5>
                  <ul>
                    <li>C</li>
                    <li>Linux</li>
                    <li>Pintos (Instructional Operating System Framework)</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="research-lab">
              <h4>Research Assistant</h4>
              <p><strong>Living with Robots Lab | Fall 2023 - Present</strong></p>
              <p>I am currently working on a joint-based transformer for motion prediction and path-planning for social
                navigation.</p>
              <div class="research-details">
                <div class="research-contribution">
                  <h5>Key Contributions</h5>
                  <ul>
                    <li>Worked on a computer vision system for person tracking and joint detection.</li>
                    <li>Developed a skeleton visualization tool to compare predictions to collected data over multiple
                      frames of data.</li>
                    <li>Contributed to implementing a custom transformer for predictions on joint data.</li>
                  </ul>
                </div>
                <div class="research-tech">
                  <h5>Tech Stack</h5>
                  <ul>
                    <li>Python</li>
                    <li>OpenGL</li>
                    <li>Azure Kinect Body Tracking SDK</li>
                    <li>TensorFlow</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="experience" class="section">
      <div class="card">
        <h2>Experience</h2>
        <div class="experience-grid">
          <!-- H-E-B 2024 -->
          <div class="experience-card">
            <img src="assets/logos/H-E-B_logo.png" alt="H-E-B Logo" class="company-logo">
            <div class="experience-content">
              <h3>H-E-B</h3>
              <p class="location-duration">Austin, TX • Summer 2024</p>
              <ul>
                <li>Independently engineered a new cloud-based application for pharmacy administrators to maintain and
                  update cloud
                  services, replacing a 9-year-old support tools application.</li>
                <li>Contributed to H-E-B’s transition from on-premises servers and mainframe architecture to a modern
                  cloud-based
                  architecture as part of a larger company-wide modernization initiative.</li>
                <li>Drove the project through all stages of the development lifecycle from service account setup, CI/CD
                  pipeline configuration
                  to implementing features for adding/editing pharmacies, managing timeslots, retry functionality, and
                  testing.</li>
              </ul>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> Angular, GitLab, Jest, Agile, Mortar
              </p>
            </div>
          </div>

          <!-- H-E-B 2023 -->
          <div class="experience-card">
            <img src="assets/logos/H-E-B_logo.png" alt="H-E-B Logo" class="company-logo">
            <div class="experience-content">
              <h3>H-E-B</h3>
              <p class="location-duration">San Antonio, TX • Summer 2023</p>
              <ul>
                <li>Collaborated with a team of 4 to design and develop a desktop alert application replacing a vendor
                  solution with a home-
                  grown application for H-E-B's multi-billion-dollar pharmacy sector, contributing to the improvement of
                  internal
                  communication and workflow efficiency while meeting all project requirements, deadlines, and post-MVP
                  goals.</li>
                <li>Leveraged a SpringBoot MVC framework with time/complexity analysis to optimize the back-end
                  performance, resulting in
                  increased efficiency and reduced processing times.</li>
                <li>Implemented front-end changes to the application, ensuring adherence to H-E-B's design policies and
                  promoting a
                  consistent user experience.</li>
              </ul>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> Java, SpringBoot, Git, Agile, Jira, Confluence, Cucumber, Svelte, Tailwind,
                HTTP Polling
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Extracurriculars Section -->
    <section id="extracurriculars" class="section">
      <div class="card">
        <h2>Extracurriculars</h2>
        <div class="org-grid">
          <!-- WiCS -->
          <div class="org-card">
            <img src="assets/logos/wicslogo24.png" alt="WiCS" class="org-image">
            <div class="org-content">
              <h3>Women in Computer Science</h3>
              <h4>Technical Lead (2024-Present), Technical Officer (2023-2024), Nell-Dale Mentor (2023-2024)</h4>
              <ul>
                <li>Responsible for updating UT WiCS website each year to maintain accurate information and consistent
                  branding.</li>
                <li>Design and develop WiCS Hackathon website each year to portray Hackathon details and information
                  according to the theme.</li>
                <li>Leading technical workshops to introduce woman and non-binary students in CS to various Computer
                  Science topics and classes.</li>
                <li>Organizing and hosting a Spring Hackathon for woman and non-binary students.</li>
              </ul>
              <div class="org-projects">
                <h4>Projects:</h4>
                <ul>
                  <li><a target="blank" href="https://www.cs.utexas.edu/~wics/">UT WiCS Website</a></li>
                  <li><a target="blank" href="https://www.cs.utexas.edu/~wics/hackathon.html">2024 WiCS Hackathon
                      Website</a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- LHR -->
          <div class="org-card">
            <img src="assets/logos/lhr.png" alt="LHR" class="org-image">
            <div class="org-content">
              <h3>Longhorn Racing Combustion</h3>
              <h4>Software Member on Electronics Subsystem (2023-Present)</h4>
              <ul>
                <li>Designing and implementing a custom wire harness for a student-built formula race car.</li>
                <li>Provided software support for data collection and communication, implementing 2-way radio, XMODEM,
                  and CAN protocols.</li>
                <li>Implemented software limits for power distribution to ensure safety and 2 layers of protection.</li>
                <li>Optimized treasury and purchase recquests with a Google Apps Script.</li>
              </ul>
              <div class="org-projects">
                <h4>Projects:</h4>
                <ul>
                  <li>Power Distribution Module</li>
                  <li>XMODEM File Transfer</li>
                  <li>Custom Wire Harness</li>
                  <li>Treasury Automation</li>
                  <li>Telemetry Front End Design</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Projects Section -->
    <section id="projects" class="section">
      <div class="card">
        <h2>Projects</h2>
        <div class="project-grid">
          <div class="project-card">
            <img src="assets/projects/leg.jpg" alt="Robot Leg" class="project-image">
            <div class="project-content">
              <h3>Robot Leg</h3>
              <p>
                Constructed and programmed a Stanford Pupper leg with 3D printing, laser cutting, electronic motor
                assembly, and inverse kinematics to track a red dot and reach target locations.
              </p>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> Bambu Lab, Arduino, Inverse Kinematics, Python, OpenCV, PID control
              </p>
              <a href="https://github.com/ananya-chintalapudi/rbt350-hands-on-2" target="_blank"
                class="project-link">View Project</a>
            </div>
          </div>
          <div class="project-card">
            <img src="assets/projects/educate.jpeg" alt="edUcate" class="project-image">
            <div class="project-content">
              <h3>edUcate</h3>
              <p>
                A news application designed to mitigate bias by curating articles from diverse sources on pivotal
                headlines. Our platform features a dedicated section for general news, user authentication for a
                personalized experience, and interactive features such as a chat function and an integrated map for
                localized search capabilities.
              </p>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> XCode, Swift UI, iOS Development, Mobile Application Development, Firebase,
                MapKit
              </p>
              <a href="https://devpost.com/software/educate-stemp1" target="_blank" class="project-link">View
                Project</a>
            </div>
          </div>
          <div class="project-card">
            <img src="assets/projects/elvis.png" alt="ELVIS Architecture" class="project-image">
            <div class="project-content">
              <h3>ELVIS (Elevator Vision System)</h3>
              <p>
                A computer vision and machine learning (YOLOv8, PARSeq, ResNet 18) system to identify the direction an
                elevator is moving in and what floor it is heading to with the intention of making elevators more
                accessible for visually impaired people.
              </p>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> C++, PARSeq, Computer Vision, Machine Learning, YOLO
              </p>
              <a href="https://drive.google.com/file/d/1aGkxhr4PdkV1hhxHegKela_yr1woBk0i/view?usp=sharing"
                target="_blank" class="project-link">View Project</a>
            </div>
          </div>
          <div class="project-card">
            <img src="assets/projects/mag.net.jpeg" alt="mag.net" class="project-image">
            <div class="project-content">
              <h3>mag.net</h3>
              <p>
                mag.net is a networking app that provides a hub for students, industry professionals, and other members
                of the women and non-binary STEM community to (net)work with each other. Won first place in the 2023
                WiCS Hackathon.
              </p>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> XCode, Swift UI, iOS Development, Mobile Application Development, Firebase,
                MapKit
              </p>
              <a href="https://devpost.com/software/mag-net" target="_blank" class="project-link">View Project</a>
            </div>
          </div>
          <div class="project-card">
            <img src="assets/projects/bokken.jpg" alt="Bokken" class="project-image">
            <div class="project-content">
              <h3>Bokken</h3>
              <p>
                2D Role-Playing Game (RPG) that follows a struggling student as they combat imposter syndrome and
                overcome their inner demons while learning to generate self-compassion.
              </p>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> Unity, ProCreate, PlasticSCM, C#
              </p>
              <a href="https://devpost.com/software/bokken?ref_content=user-portfolio&ref_feature=in_progress"
                target="_blank" class="project-link">View Project</a>
            </div>
          </div>
          <div class="project-card">
            <img src="assets/projects/pomegranate.png" alt="Pomegranate" class="project-image">
            <div class="project-content">
              <h3>Pomegranate</h3>
              <p>
                TechX Case Competition Proposal for an LMS extension designed to use technical solutions to increase
                collaboration in 2-year institutions with a video conferencing platform based on a gamified version of
                an in-person platform, a simulation station with 3d modeling of technical tools and labs, and a dojo
                that uses a machine learning recommendation-based system to create problem sets for students and
                badge-based training for educators.
              </p>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> Unity, Powerpoint, Business Communication
              </p>
              <a href="https://drive.google.com/file/d/1fmKaG75KMVoqdfU4M88BGHvZhSJwazS3/view" target="_blank"
                class="project-link">View Project</a>
            </div>
          </div>
          <div class="project-card">
            <img src="assets/projects/cc22.png" alt="CC22 Summit" class="project-image">
            <div class="project-content">
              <h3>CC22 Summit</h3>
              <p>
                Website created for the TSA Webmaster competition showcasing the features and events of a hypothetical
                virtual climate conference event with a focus on fostering engagement through digital platforms. Won 1st
                Place in Webmaster Nationals in the Technology Student Association (2022).
              </p>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> HTML, CSS, JavaScript, Glitch, Autodesk Sketchbook
              </p>
              <a href="https://climateconferencesummit.glitch.me/" target="_blank" class="project-link">View Project</a>
            </div>
          </div>

          <div class="project-card">
            <img src="assets/projects/studdy.png" alt="Studdy" class="project-image">
            <div class="project-content">
              <h3>Studdy: Find Your Study Buddy</h3>
              <p>
                Studdy is a networking app designed for students to give and receive help with schoolwork while making
                friends. We created it to help students connect with each other while attending virtual classes. Won
                Best UI/UX for WaffleHacks Hackathon (2021).
              </p>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> Flutter, Dart, Mobile App Development
              </p>
              <a href="https://devpost.com/software/studdy-find-your-study-buddy#updates" target="_blank"
                class="project-link">View Project</a>
            </div>
          </div>

          <div class="project-card">
            <img src="assets/projects/connect_health.svg" alt="Connect Health" class="project-image">
            <div class="project-content">
              <h3>Connect Health</h3>
              <p>
                Website created for the Technology Student Association Webmaster competition that showcases the features
                of a hypothetical medical telecommunications company with a focus on providing accessbile and
                easy-to-use medical support virtually during the pandemic.
              </p>
              <p class="tech-stack">
                <strong>Tech Stack:</strong> HTML, CSS, Python, JavaScript, Glitch
              </p>
              <a href="https://ananya-chintalapudi.github.io/connect-health/" target="_blank" class="project-link">View
                Project</a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="section">
      <div class="card">
        <h2>Skills</h2>
        <div class="skills-grid">
          <div class="skill-card">Operating Systems</div>
          <div class="skill-card">Robotics</div>
          <div class="skill-card">Problem Solving</div>
          <div class="skill-card">Business Communication</div>
          <div class="skill-card">Data Structures</div>
          <div class="skill-card">Web/App Development</div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="section">
      <div class="card">
        <h2>Contact</h2>
        <p>Connect with me on:</p>
        <ul class="contact-links">
          <li><a href="https://github.com/ananya-chintalapudi">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/ananya-chintalapudi-cs/">LinkedIn</a></li>
          <li>Email: ananya.cx&#x00040;gmail.com</li>
        </ul>
      </div>
    </section>
  </main>

  <footer>
  </footer>
</body>

</html>